<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<div style="width:95%;padding:10px">

	<table>
	<tbody style="vertical-align:top ;padding:20px">

		<tr>
		<td style="width:60%;vertical-align: top">
		<table>
		<tbody>
		<tr>
		<td colspan="2">
			<p style="text-align: justify;padding: 22px;background-image: url('/assets/textbg.png');background-repeat: no-repeat;background-size: cover">Baba Ram Thaman Ji was the son of Guru Nanak Dev Ji's maternal aunt. He was a prapti Sadhu. During his life time Guru ji visited many place to spread the 'name of the god and his kindness'. 

			The ongoing gadhi is in the Baje Ke and BABA HARMESH DAS JI is present Guru for this gahdi. He is performing Seva (Selfless Service) for community and showing them a true way to live the life with kindness and worship.

			Mela(Fairs) is organised on 1st ASSU and 1st VISAKH and large amount of people come to listen to Gurbani, Kirtan and Akhand Paaths. People look the fair with full joys and beliefs. People from different parts of India and Abroad comes get the darshan of Baba ji on mela(fair).
			</p>
		</td>
		</tr>
		<tr>
		<td style="vertical-align: middle;">
                 <div style="padding-top:25px">			
                        <a href="/home/photo"><div class="big-button">Photos</div></a><br>
			<a href="/home/audio"><div class="big-button">Audio</div></a><br>
			<a href="/home/video"><div class="big-button">Video</div></a>
                  </div>
		</td>
		<td>
			
			<div style="padding-top: 70px;">
			<a href="http://maps.google.co.in/maps?q=Baje+Ke,+Firozpur,+Punjab&hl=en&ll=30.755733,74.351719&spn=0.001646,0.002666&sll=30.759225,74.350683&sspn=0.006583,0.010664&oq=baje++ke+ferozepur&hnear=Baje+Ke,+Firozpur,+Punjab&t=h&z=19"  target="_blank">
			<%= image_tag("goolgemap.png")%>
			</a>
			</div>
		</td>
		</tr>
		</tbody>
		</table>

		</td>

				<td>
				  <table>
					<tbody>
						<tr>
						<td>
				                   <div style="padding-left: 10px;"><img src="/assets/003.jpg" width="500px" /></div>
						</td>
						</tr>
					</tbody>
				  </table>
			 

				</td>
			</tr>
		<tr>
		<td colspan="2" style="text-align:center">
			<div class="fb-like-box" data-href="http://www.facebook.com/pages/Baba-Ram-Thaman-Ji-Official/380729418630195" data-width="1040" data-height="692" data-show-faces="true" data-stream="true" data-border-color="blue" data-header="true"></div>
			
		</td>
		</tr>
	</tbody>
	</table>
</div>
</div>

<style>
.big-button {
  width:200px;
  color: white;
  background-color: #00910A;
  padding: 10px;
  position: relative;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  box-shadow:1px 1px 0 0 #014D06, 2px 2px 0 0 #014D06,    3px 3px 0 0 #014D06,    4px 4px 0 0 #014D06,    5px 5px 5px 0 #000000;
  -webkit-box-shadow:1px 1px 0 0 #014D06, 2px 2px 0 0 #014D06,    3px 3px 0 0 #014D06,    4px 4px 0 0 #014D06,    5px 5px 5px 0 #000000;
  -moz-box-shadow:1px 1px 0 0 #014D06, 2px 2px 0 0 #014D06,    3px 3px 0 0 #014D06,    4px 4px 0 0 #014D06,    5px 5px 5px 0 #000000;
   border-radius: 10px; 
 -webkit-border-radius: 10px; 
 -moz-border-radius: 10px;
 -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.big-button:active {
  box-shadow: 1px 1px 5px 0 #000000;
  -webkit-box-shadow: 1px 1px 5px 0 #000000;    
  -moz-box-shadow: 1px 1px 5px 0 #000000;
  top: 4px;
  left: 4px;
}

.big-button:hover { background-color: #00B00C; }
</style>

